body {
  font-family: sans-serif;
}
#toggleBtn {
  width: 10%;
  height: 10%;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10px;
}
#btn {
  width: 2rem;
  height: 2rem;
  border: 1.2px solid black;
  border-radius: 20px;
  background-size: contain;
  background-color: black;
  background-size: cover;
}
